html,body{
    margin: 0;
    padding: 0;    
}
body{
    font-family: Arial, Helvetica, sans-serif;    
}
main{
    width: 800px;
    height: 800px;
    margin: auto;
    border:2px solid #bada55;
    display: flex;
    flex-wrap: wrap;
}
main div{
    width: 8px;
    height:8px;
    border:1px solid #222;
    box-sizing: border-box;
    cursor: pointer;
}
main div.active{
    background:#bada55;
}
#status{
    font-style: italic;
}
